<html>
    <head> <title> ceva </title>
    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    </head>

<body>
<ul class="nav nav-list">

          <li class="nav-header">List header</li>
          <li class="active"><a href="#"><i class="icon-white icon-home"></i> Home</a></li>
          <li><a href="#"><i class="icon-book"></i> Library</a></li>
          <li><a href="#"><i class="icon-pencil"></i> Applications</a></li>
          <li class="nav-header">Another list header</li>

          <li><a href="#"><i class="icon-user"></i> Profile</a></li>
          <li><a href="#"><i class="icon-cog"></i> Settings</a></li>
          <li class="divider"></li>
          <li><a href="#"><i class="icon-flag"></i> Help</a></li>
        </ul>
        
        
        </div>
 
    
    <div class="span8">
      <h2> filme in general </h2>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Episod_no</th>
            <th>Next airdate</th>
          </tr>
        </thead>
        <tbody>
        
        <% @all_series.each do |item| %>
   	    <tr>
          <td> <%= item.name %> </td>
    		  <td> <%= item.last_episode_num %> </td>
    		  <td> <%= item.last_episode_airdate %> </td>
        </tr>
        <% end %>
        </tbody>
      </table>
    </div>
    <hr/>
    
    <div class="span8">
      <h2> apar azi </h2>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Episod_no</th>
            <th>Next airdate</th>
          </tr>
        </thead>
        <tbody>
        
        <% @alerts.each do |item| %>
        <tr>
          <td> <%= item.name %> </td>
          <td> <%= item.last_episode_num %> </td>
          <td> <%= item.last_episode_airdate %> </td>
        </tr>
        <% end %>
        </tbody>
      </table>
    </div>

  </div>

        
  </body>
</html>
